.button_type_edit {
  background-image: url("../../../images/button_edit.svg");
  border: 1px solid #fff;
  padding: 5.25px;
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .button_type_edit {
    padding: 7px;
    width: 24px;
    height: 24px;
  }
}
