.button_type_close {
  border: none;
  background-image: url("../../../images/button_close.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -41px;
  right: 0;
}

@media screen and (min-width: 920px) {
  .button_type_close {
    width: 32px;
    height: 32px;
    top: -42px;
    right: -40px;
  }
}
